@charset "UTF-8";

* {
	font-family: "ＭＳ Ｐゴシック", "MS P Gothic";
	padding: 0px;
	margin: 0px;
}

body { overflow: hidden; }

a {
	color: #464646;
}

#ft {
	position: absolute;
	bottom: 0;
}

#qr {
	padding: 0px 0px 16px 0px;
	position: absolute;
}

#container {
	-webkit-animation: translation 3s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation: translation 3s;
	-moz-animation-iteration-count: infinite;
	-ms-animation: translation 3s
	-ms-animation-iteration-count: infinite;
	-o-animation: translation 3s
	-o-animation-iteration-count: infinite;
	animation: translation 3s;
	animation-iteration-count: infinite;

	padding: 0px 0px 16px 0px;
	position: absolute;
}

#container div {
	text-align: center;
	margin: 4px;
}

@-webkit-keyframes translation {
	0%    { transform: translate(0px,150px);  }
	25%   { transform: translate(0px,0px);    }
	50%   { transform: translate(0px,150px);  }
	75%   { transform: translate(0px,0px);    }
	100%  { transform: translate(0px,150px);  }
}
@-moz-keyframes translation {
	0%    { transform: translate(0px,150px);  }
	25%   { transform: translate(0px,0px);    }
	50%   { transform: translate(0px,150px);  }
	75%   { transform: translate(0px,0px);    }
	100%  { transform: translate(0px,150px);  }
}
@-ms-keyframes translation {
	0%    { transform: translate(0px,150px);  }
	25%   { transform: translate(0px,0px);    }
	50%   { transform: translate(0px,150px);  }
	75%   { transform: translate(0px,0px);    }
	100%  { transform: translate(0px,150px);  }
}
@-o-keyframes translation {
	0%    { transform: translate(0px,150px);  }
	25%   { transform: translate(0px,0px);    }
	50%   { transform: translate(0px,150px);  }
	75%   { transform: translate(0px,0px);    }
	100%  { transform: translate(0px,150px);  }
}
@keyframes translation {
	0%    { transform: translate(0px,150px);  }
	25%   { transform: translate(0px,0px);    }
	50%   { transform: translate(0px,150px);  }
	75%   { transform: translate(0px,0px);    }
	100%  { transform: translate(0px,150px);  }
}
