doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title Pugテスト
  body
    div.top
      div#particle
      div.container.text-center tinko系
        br.br-sp
        | ドメイン勉強会
    div.background
      div.bar
      div.card 
        h2 Wath is tinko?
        p tinkoドメインを守ろうと集まった、有志による勉強会
      div.lead-message.text-center 他のtinko系ドメイン
      div.card
        ui#tinkogroups
    