doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title tinko
  body
    div.top
      div#particle
      div.container.text-center tinko系
        br.br-sp1
        | ドメイン
        br.br-sp2
        | 勉強会
    div.background
      div.bar
      div.card 
        h2 what is tinko?
        p tinkoドメインを守ろうと集まった、有志による勉強会
      div.lead-message.text-center 他のtinko系ドメイン
      div.card
        div#tinkogroups
    